/* for the magic constants: the image we're using is 720px wide and 450px tall. */
body {
	max-width: 722px;
	margin: 0 auto;
	font-family: sans-serif;
	background-color: #eee;
}

#background-container {
    /*
    Image is from the DZL Instagram feed (https://www.instagram.com/denverzinelibrary/),
    with no current attribution. If you claim the copyright for this, please raise an
    issue on the associated Github page. Thanks!
    */
    background: url("dzl-instagram.jpg");
    box-sizing: border-box;
    min-height: 450px;
    padding-top: 50px;
}

#container {
	border: 1px solid #bbb;
	border-top-width: 0;
	background-color: white;
}

#container section {
    padding: 0.1px 0.75em;
}

#instructions {
    margin: auto 0.5em;
	border-radius: 0.3em;
	background-color: white;
}

textarea {
    width: 95%;
}

li{ padding-top: 0.5em; }
.restore-top-padding { padding-top: 0.5em !important; }
li:first-of-type { padding-top: inherit; }
